nav {
  font-family: 'Fjalla One', sans-serif;
  background-color: white; }
  nav ul {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; }

p {
  font-family: 'Roboto', sans-serif; }

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 3rem; }

.carousel-inner img {
  width: 100%;
  height: 100%; }

.card-header {
  background-color: white; }

h4 {
  color: #c4f862;
  text-shadow: 0 0.1rem 0.7rem #32323b; }

.carousel-inner img {
  width: 100%;
  height: 100%; }
