nav {
    font-family: "Roboto", serif;
}

ul {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-family: 'cinzel', serif;
}

header h1, h2 {
    color:rgba(233, 229, 229, 0.918)
}

body {
    font-family:'Montserrat', sans-serif;
}


